Dataset-20240207T102106Z-001.zip
ML_Lab05_PCA_231129a.ipynb
ML_PCA_ENCAN copy.ipynb
Number_of_Prisoners_by_Gender_by_State_2016-2019.csv
Dataset/breed_labels.csv
Dataset/BreedLabels.csv
Dataset/color_labels.csv
Dataset/ColorLabels.csv
Dataset/PetFinder-BreedLabels.csv
Dataset/PetFinder-ColorLabels.csv
Dataset/PetFinder-StateLabels.csv
Dataset/state_labels.csv
Dataset/StateLabels.csv
Dataset/test.csv.zip
Dataset/train.csv.zip
Dataset/test.csv/test.csv
Dataset/train.csv/train.csv
